html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
* {
  background-color: gray;
}

p {
  margin: 6px;
  padding: 6px;
  border: 4px solid black;
  width: 300px;
  height: 100px;
  background-color: orange;
}
